header {
    background-color: #3C93BD;
    color: #DFB63F;

.cabecalho-imagem{
    width: 200%;
    background-color: #3C93BD;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
}